@import (reference) "lessMinded.less";
@svg: "/images/svg/";

@black:#000;			@white:#fff;
@red:#990000;			@yellow:#e2ca35;
@green:#36863c;			@lightGreen:#328738;
@blue:#25246b;			@lightBlue:#dfeaff;
@silver:#333;			@lightGrey:#ababab;		@middleGrey:#ccc;		@medGrey:#838383;		@darkGrey:#3d3d3d;
@navText:#25236B;		@navGrey:#eee;	        @navLight:#bebebe;

@img:"/static/img/";
@svg:"/static/img/svg/";
@icons:"/static/img/icons/";


.left(@x){ .size(@x left); }
.right(@x){ .size(@x right); }
.center(@x) when (default(0)){ margin:@x auto; }
.dropShadow(){ .box-shadow(5px 0px 5px 5px rgba(0,0,0,0.5)); }
.dropShadowSoft(){ .box-shadow(0px 5px 5px 0px rgba(192,192,192,.8)); }
.bottomFall(){ .pos(a); .place(n n 0); }
.flip(){ .property(transform, rotate(180deg), ~"webkit moz o ms"); }
.flipBack(){ .property(transform, rotate(360deg), ~"webkit moz o ms"); }
// .box-sizing{ .property(box-sizing, ~"border-box", ~"webkit moz o ms"); }




// h3{ .titleLine(15px, #ccc, #fff); }
// h3{ .titleLine(15px, #ccc, #fff, 15%); }
// h3{ .titleLine(15px, #ccc, #fff, 15%, 1px); }
// h3{ .titleLine(15px, #ccc, #fff, 15%, 1px, dashed); }
// .fontPlay{ .txt(cap caps lower c l r j b u i s o); }
// .position{ .pos(a); }


// .myTest{ .bg(gradent, #fff #000); }
// .myTest{ .bg(gradent, #fff #000, yes); }
// .myTest{ .bg(gradent, x, #fff #000); }
// .myTest{ .bg(gradent, y, #fff #000); }
// .myTest{ .bg(gradent, no, #fff #000); }
// .myTest{ .bg(gradent, no, #fff #000, yes); }
// .myTest{ .rotate(180); }
// .myTest{ .flip(); }
// .myTest{ .border-radius(25px 25px 25px 25px); }
// .myTest{ .box-shadow(1px 2px 3px 4px #fff); }
// .myTest{ .inner-shadow(1px 2px 3px 4px #fff); }
// .myTest{ .select(none); }
// .myTest{ .select(#fff, #000); }
// .myTest{ .vertical-div(); }




// .sizeTest1{ .size(100% left); }
.sizeTest1{ .size(clear); }
// .sizeTest2{ .size(1em auto left); }
// .sizeTest3{ .size(1em 2em 3em); }
// .sizeTest4{ .size(1em 2em 3em clear); }
// .sizeTest5{ .size(1em 2em 3em 4em 5em); }
// .sizeTest6{ .size(1em 2em 3em 4em 5em 6em); }
// .sizeTest7{ .size(clear 2em); }
// .sizeTest8{ .size(auto 2em); }
// .sizeTest9{ .size(n 2em n); }
.sizeTest10{ .size(n 2em n 4em r); }
// .sizeTest11{ .size(n 2em n 4em n); }
// .sizeTest12{ .size(n 2em n 4em n 6em); }
// .sizeTest13{ .size(n 2em n 4em n 6em right clear); }

.sizeTest14{ .size(maxh 1px minh 2px l w 10px); }



// .opacityTest{ .opacity(.5); }

// .gridTest{ .grid(2); }
// .gridTestTwo{ .grid(3, even); }
// .gridTestThree{ .grid(4, even, 4%); }
// .gridTestFour{ .grid(2, 10% 90%); }
// .gridTestFive{ .grid(3, 10% 40% 50%); }
// .gridTestSix{ .grid(4, 10% 20% 30% 40%); }
// .gridTestSeven{ .grid(4, 10% 20% 30% 40%, 10%); } //"LessMinded with assume 100% and scale widths to adjust for margins"


// .verticalTest{ .vertical-text(30px, left, 10px 20px); }
// .zTest{ .z(1000); }
// .fontTest{ .font(a); }
// .fontTestTwo{ .font(v); }
// .displayTest{ .dis(yes); }
// .displayTestTwo{ .dis(ib); }
// .textTest{ .txt(d "<" cap caps lower none c l r j b u i s o n no 1.2em #fff); }
// .positionTest{ .pos(a); }
// .positionTestTwo{ .pos(f); }
// .placeTest{ .place(20px); }
// .placeTestTwo{ .place(20px 20px); }
// .placeTestThree{ .place(n 20px 20px); }
// .placeTestFour{ .place(n n 20px 20px); }
// .placeTest-Uncommon{ .place(10px 20px 30px 40px); }
// .overTest{ .over(v h s a d i xv xh xs xa xd xi yv yh ys ya yd yi touch auto); }




// .backgroundTest1{ .bg(transparent); }
// .backgroundTest2{ .bg(#fff no); }
// .backgroundTest3{ .bg(url("@{svg}location.svg") no); }
// .backgroundTest4{ .bg(url("@{svg}location.svg") #fff pos 50% 90% size 1em 2em x f oc cb); }
// .backgroundTest5{ .bg(gradent #ccc #111 hover); }
// .backgroundTest6{ .bg(gradent #fff #000 hover hor); }
// .spinnerTest{ .spinner(); }



// .shadowTest1{ .shadow(fore #ccc); }
// .shadowTest1{ .shadow(glass #ccc); }
// .shadowTest1{ .shadow(cube #ccc); }
// .shadowTest1{ .shadow(block #ccc); }
// .shadowTest1{ .shadow(deco #000); }



// .shadowTest1{ .shadow(bloat 0); }
// .shadowTest1{ .shadow(float #ccc); }
// .shadowTest1{ .shadow(dogear #ccc); }
// .shadowTest1{ .shadow(cast #ccc); }


