/* LESS Document schery(6/30/14)*/
.noMove {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.rtgCheckout div.wrapper .window {
  display: block;
}
.rtgCheckout label {
  font-size: 1.1em;
  color: #333333;
}
.rtgCheckout div.selector {
  line-height: 3.1em;
  height: 3.2em;
}
.rtgCheckout .paginationTop {
  margin: 0;
}
.rtgCheckout .paginationTop h1 {
  font-size: 1.3em;
  color: #ffffff;
  margin-top: 0;
}
.rtgCheckout .paginationTop a[href] {
  padding: 0 0 .8em 0;
}
.rtgCheckout .content h2 {
  background-color: #333333;
  color: #ffffff;
  padding: 0.5em;
}
.rtgCheckout .content h3 {
  background-color: #cccccc;
  color: #000000;
  padding: 0.5em;
  margin: 0;
}
.rtgCheckout .contentWrap {
  margin: 0 1em;
}
.rtgCheckout .shippingOptionsChecklist {
  padding: 1em 0;
}
.rtgCheckout .shippingOptionsChecklist .dateList .inputWrap {
  margin: .6em 0;
}
.rtgCheckout .shippingOptionsChecklist .dateList label {
  margin: 0;
}
.rtgCheckout .deliveryTypeTitle {
  font-weight: bold;
}
.rtgCheckout .moreLessDates,
.rtgCheckout .changeAddress {
  padding: 0 3em;
}
.rtgCheckout .moreLessDates a,
.rtgCheckout .changeAddress a {
  color: #25246b;
}
.rtgCheckout .gridWrap .smallGap {
  width: 48%;
  margin-left: 2%;
}
.rtgCheckout .gridWrap .padded {
  padding: 0 0.5em;
}
.rtgCheckout .gridWrap .col1t3 {
  margin-left: 0;
}
.rtgCheckout .gridWrap .col2t3 {
  margin-right: 0;
  margin-left: 3%;
}
.rtgCheckout .gridWrap span.required {
  color: #990000;
  float: left;
}
.rtgCheckout .gridWrap .content {
  margin: 1em 0;
}
.rtgCheckout .gridWrap .content ul {
  background-color: #eeeeee;
  padding: 0.5em;
}
.rtgCheckout .gridWrap .content ul li {
  padding: 0.2em 0.5em 0.2em 1.5em;
  list-style: disc inside;
  text-indent: -1em;
  margin: 0;
}
.rtgCheckout .gridWrap .content p {
  background-color: #eeeeee;
  padding: 0.5em 1em;
}
.rtgCheckout .inputWrap {
  margin: 1em 0 1.3em 0;
  padding: 0 1em;
}
.rtgCheckout .inputWrap .inputWrap {
  padding: 0;
}
.rtgCheckout .inputWrap label {
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0.3em 0;
  padding: 0;
}
.rtgCheckout .inputWrap label.required:before {
  content: "*";
  color: #990000;
  padding-right: 0.5em;
}
.rtgCheckout .inputWrap.formError label,
.rtgCheckout .inputWrap .formError label {
  color: #990000;
}
.rtgCheckout .inputWrap.formError input,
.rtgCheckout .inputWrap .formError input,
.rtgCheckout .inputWrap.formError .selector,
.rtgCheckout .inputWrap .formError .selector {
  border: 1px solid #990000;
  background-color: rgba(153, 0, 0, 0.1);
  background-position: 97% center;
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-image: url("/static/img/svg/error2.svg");
}
.rtgCheckout .inputWrap.formError .errorLabel,
.rtgCheckout .inputWrap .formError .errorLabel {
  color: #990000;
  margin: 0.5em 0;
}
.rtgCheckout .inputWrap.formValid label,
.rtgCheckout .inputWrap .formValid label {
  color: #000000;
}
.rtgCheckout .inputWrap.formValid input,
.rtgCheckout .inputWrap .formValid input,
.rtgCheckout .inputWrap.formValid .selector,
.rtgCheckout .inputWrap .formValid .selector {
  background: none;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.rtgCheckout .deliverySchedule .deliveryInfo img {
  width: 5em;
  margin: -0.5em 1em 0 1em;
}
.rtgCheckout .deliverySchedule .deliveryInfo p {
  margin-top: 1em;
}
.rtgCheckout .deliverySchedule .content .required {
  float: none;
}
.rtgCheckout .deliverySchedule #standardDelivery {
  margin-top: 0;
}
.rtgCheckout .deliverySchedule .radioWrap {
  padding: 0.2em 0em;
}
.rtgCheckout .deliverySchedule .radioWrap.not-active {
  display: none;
}
.rtgCheckout .deliverySchedule .deliveryNotes .agreeDeliveryTerms {
  margin: 3%;
}
.rtgCheckout .deliverySchedule .deliveryNotes .agreeDeliveryTerms .col1t3 {
  width: 10%;
}
.rtgCheckout .deliverySchedule .deliveryNotes .agreeDeliveryTerms .col2t3 {
  width: 87%;
}
.rtgCheckout .deliverySchedule .deliveryNotes .agreeDeliveryTerms .checker {
  position: absolute;
  margin-right: 1%;
}
.rtgCheckout .deliverySchedule .deliveryNotes .agreeDeliveryTerms .deliveryAgree {
  display: inline-block;
  width: 85%;
  text-indent: 0;
  vertical-align: top;
}
.rtgCheckout .deliverySchedule .shipUsps ul,
.rtgCheckout .deliverySchedule .shipVendor ul {
  padding: 0 2em;
}
.rtgCheckout .deliverySchedule .shipUsps ul li,
.rtgCheckout .deliverySchedule .shipVendor ul li {
  margin: 1em 0;
  list-style: none;
}
.rtgCheckout .deliverySchedule .shipUsps ul li span,
.rtgCheckout .deliverySchedule .shipVendor ul li span {
  display: block;
}
.rtgCheckout .deliverySchedule .shipUsps ul li span.item,
.rtgCheckout .deliverySchedule .shipVendor ul li span.item {
  font-weight: bold;
}
.rtgCheckout .checkoutTotal ul {
  margin: 1em 2em;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 0 0 .7em 0;
}
.rtgCheckout .checkoutTotal ul li {
  color: transparent;
  padding: 0.2em 1.5em;
  list-style: inherit;
  margin-bottom: 0;
}
.rtgCheckout .checkoutTotal ul li:first-of-type {
  font-weight: bold;
  background-color: #eeeeee;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #cccccc;
}
.rtgCheckout .checkoutTotal ul li span.title {
  float: left;
}
.rtgCheckout .checkoutTotal ul li span {
  float: right;
  color: #000000;
}
.rtgCheckout #creditCardForm .col1t3 {
  width: 71%;
  margin-left: 0%;
}
.rtgCheckout #creditCardForm .col2t3 {
  width: auto;
  padding: 0.1em 0;
  margin-right: 0;
}
.rtgCheckout #creditCardForm .billingCopy p {
  line-height: 1.3em;
}
.rtgCheckout .creditCardtype div {
  background-position: center center;
  background-repeat: no-repeat;
  height: 2.2em;
  width: 3em;
  margin: 0.5em 0;
}
.rtgCheckout .creditCardtype div.visa {
  background-image: url("/static/img/checkout/visa.svg");
}
.rtgCheckout .creditCardtype div.amex {
  background-image: url("/static/img/checkout/americanexpress.svg");
}
.rtgCheckout .creditCardtype div.mastercard {
  background-image: url("/static/img/checkout/mastercard.svg");
}
.rtgCheckout .creditCardtype div.discover {
  background-image: url("/static/img/checkout/discover.svg");
}
.rtgCheckout .rtgCreditInformationContainer h4 {
  color: #3d3d3d;
  font-weight: bold;
  font-size: 0.9em;
}
.rtgCheckout .rtgCreditInformationContainer p {
  line-height: 1.2em;
  color: #3d3d3d;
}
.rtgCheckout .delInfoMiniCalImage {
  float: left;
  height: 100px;
  width: 60px;
  margin-left: 0.5em;
  padding: 0.5em 0;
}
.rtgCheckout .delInfoMiniCalImage img {
  height: auto;
}
.rtgCheckout .deliveryRules .changeYourDelDate {
  float: right;
}
.rtgCheckout .miniCartText .miniCartProductImage {
  margin: 0 15%;
}
.rtgCheckout .miniCartText .productInfo a {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}
.rtgCheckout .load_blocker {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999 !important;
  background-color: #000000;
  display: block;
  height: 100%;
  width: 100%;
  zoom: 1;
  filter: alpha(opacity=(70));
  -lessMinded: opacity ;-webkit-opacity:0.7;-moz-opacity:0.7;opacity:0.7;
}
.rtgCheckout .load_blocker .ajax-spinner-bars {
  position: absolute;
  height: 1em;
  width: 1em;
  left: 50%;
  top: 50%;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > div {
  position: absolute;
  height: 10px;
  width: 2px;
  background-color: #ffffff;
  zoom: 1;
  filter: alpha(opacity=(5));
  -lessMinded: opacity ;-webkit-opacity:0.05;-moz-opacity:0.05;opacity:0.05;
  -webkit-animation: fadeit 0.8s linear infinite;
  animation: fadeit 0.8s linear infinite;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-16 {
  -lessMinded: transform ;-webkit-transform:rotate(337.5deg) translate(0, -12px);-ms-transform:rotate(337.5deg) translate(0, -12px);transform:rotate(337.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.8s;animation-delay:0.8s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-15 {
  -lessMinded: transform ;-webkit-transform:rotate(315deg) translate(0, -12px);-ms-transform:rotate(315deg) translate(0, -12px);transform:rotate(315deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.75s;animation-delay:0.75s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-14 {
  -lessMinded: transform ;-webkit-transform:rotate(292.5deg) translate(0, -12px);-ms-transform:rotate(292.5deg) translate(0, -12px);transform:rotate(292.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.7s;animation-delay:0.7s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-13 {
  -lessMinded: transform ;-webkit-transform:rotate(270deg) translate(0, -12px);-ms-transform:rotate(270deg) translate(0, -12px);transform:rotate(270deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.65s;animation-delay:0.65s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-12 {
  -lessMinded: transform ;-webkit-transform:rotate(247.5deg) translate(0, -12px);-ms-transform:rotate(247.5deg) translate(0, -12px);transform:rotate(247.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.6s;animation-delay:0.6s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-11 {
  -lessMinded: transform ;-webkit-transform:rotate(225deg) translate(0, -12px);-ms-transform:rotate(225deg) translate(0, -12px);transform:rotate(225deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.55s;animation-delay:0.55s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-10 {
  -lessMinded: transform ;-webkit-transform:rotate(202.5deg) translate(0, -12px);-ms-transform:rotate(202.5deg) translate(0, -12px);transform:rotate(202.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.5s;animation-delay:0.5s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-9 {
  -lessMinded: transform ;-webkit-transform:rotate(180deg) translate(0, -12px);-ms-transform:rotate(180deg) translate(0, -12px);transform:rotate(180deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.45s;animation-delay:0.45s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-8 {
  -lessMinded: transform ;-webkit-transform:rotate(157.5deg) translate(0, -12px);-ms-transform:rotate(157.5deg) translate(0, -12px);transform:rotate(157.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.4s;animation-delay:0.4s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-7 {
  -lessMinded: transform ;-webkit-transform:rotate(135deg) translate(0, -12px);-ms-transform:rotate(135deg) translate(0, -12px);transform:rotate(135deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.35s;animation-delay:0.35s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-6 {
  -lessMinded: transform ;-webkit-transform:rotate(112.5deg) translate(0, -12px);-ms-transform:rotate(112.5deg) translate(0, -12px);transform:rotate(112.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.3s;animation-delay:0.3s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-5 {
  -lessMinded: transform ;-webkit-transform:rotate(90deg) translate(0, -12px);-ms-transform:rotate(90deg) translate(0, -12px);transform:rotate(90deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.25s;animation-delay:0.25s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-4 {
  -lessMinded: transform ;-webkit-transform:rotate(67.5deg) translate(0, -12px);-ms-transform:rotate(67.5deg) translate(0, -12px);transform:rotate(67.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.2s;animation-delay:0.2s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-3 {
  -lessMinded: transform ;-webkit-transform:rotate(45deg) translate(0, -12px);-ms-transform:rotate(45deg) translate(0, -12px);transform:rotate(45deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.15s;animation-delay:0.15s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-2 {
  -lessMinded: transform ;-webkit-transform:rotate(22.5deg) translate(0, -12px);-ms-transform:rotate(22.5deg) translate(0, -12px);transform:rotate(22.5deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.1s;animation-delay:0.1s !important;
}
.rtgCheckout .load_blocker .ajax-spinner-bars > .bar-1 {
  -lessMinded: transform ;-webkit-transform:rotate(0deg) translate(0, -12px);-ms-transform:rotate(0deg) translate(0, -12px);transform:rotate(0deg) translate(0, -12px) !important;
  -lessMinded: animation-delay ;-webkit-animation-delay:0.05s;animation-delay:0.05s !important;
}
@-webkit-keyframes fadeit {
  0% {
    zoom: 1;
    filter: alpha(opacity=(100));
    -lessMinded: opacity ;-webkit-opacity:1;-moz-opacity:1;opacity:1;
  }
  100% {
    zoom: 1;
    filter: alpha(opacity=(0));
    -lessMinded: opacity ;-webkit-opacity:0;-moz-opacity:0;opacity:0;
  }
}
@keyframes fadeit {
  0% {
    zoom: 1;
    filter: alpha(opacity=(100));
    -lessMinded: opacity ;-webkit-opacity:1;-moz-opacity:1;opacity:1;
  }
  100% {
    zoom: 1;
    filter: alpha(opacity=(0));
    -lessMinded: opacity ;-webkit-opacity:0;-moz-opacity:0;opacity:0;
  }
}
.rtgCheckout .shippingAddressUpdate {
  float: right;
}
.rtgCheckout .confirmationContainer {
  text-align: center;
  margin: 2em 1em;
}
.rtgCheckout .confirmationContainer input {
  width: 80%;
}
.rtgCheckout .billingConfirmationBlock [class*="pg_"] {
  margin: 0.5em 0;
}
